
@model ContactUsViewModel

@{
    ViewBag.title = "Contact us";
}



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>@ViewBag.title</h3>


        <div class="well">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Name">user Name</label>
                    <input type="text" asp-for="Name" class="form-control" />

                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="checkbox">

                    <label>Remember Me?<input type="checkbox" class="" asp-for="ChkBox" /></label>

                </div>
                
                <div class="form-group">
                    <input type="submit" value="Send" />
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-3">Next Section</div>

</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>

}